.DS_Store
node_modules
/dist
.data
.cert
.env
.env.*
!.env.example
!.env.local.sample
*.sqlite
*.sqlite-shm
*.sqlite-wal
.tmp-*
*.log
.tmp-*.png
.tmp-*.jpg
.tmp-*.jpeg
.tmp-*.html

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify
